@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>
<style>

    .privacy-policy {
        margin-top: 40px;
        font-size: 14px;
    }

    .privacy-policy-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>

<div class="privacy-policy">
    <p>
        Ta strona gromadzi niezbędne informacje o użytkowniku podczas procesu generowania faktur VAT. Dane, które są zbierane, obejmują informacje o koncie użytkownika, takie jak nazwa użytkownika, adres e-mail itp. Te informacje są wykorzystywane wyłącznie w celu zapewnienia funkcjonalności konta i nie są udostępniane osobom trzecim.
    </p>
</div>